.components-input-control__container select[multiple] {
  height: 188px;
}

.block-library-rich-text__tinymce * {
  margin-top: 0;
  margin-bottom: 0;
}

.block-library-rich-text__tinymce > * + * {
  margin-top: 0.5rem;
  line-height: 1.5;
}
